$font-primary: "Roboto", sans-serif;
$font-secondary: "Raleway", sans-serif;
  $bg-header-text: #ffffff;
  $text-main: #212121;
  $text-p: #757575;
  $bg-hero: #2f303a;
  $team-bg: #f5f4fa;
  $bg-footer: #2f303a;
  $text-footer: #ffffff;
  $btn-bg: #2196f3;
  $clients-item: #afb1b8;
  $text-hover-logo: #2196f3;
