button.btn {
  @extend %button-style;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.6px;
  white-space: nowrap;
  background-color: $btn-bg;
  color: $bg-header-text;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  padding: 12px 24px;
  width: auto;
}