.clients {
  padding: 82px 15px 94px;

  &__title {
    @include section-title;
    padding-bottom: 50px;
    letter-spacing: 0.03em;
  }

  &__list {
    @include flex(flex, center, center);
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }

  &__item {
    width: 100%;
    max-width: 170px;
    height: 92px;

    @include flex;

    border: 1px solid $clients-item;
    border-radius: 4px;

    fill: $clients-item;

    @include transition(border, fill);

    &:hover {
      border: 1px solid $btn-bg;
      fill: $btn-bg;
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
    transition: transform 250ms linear;

    &:hover {
      animation: heartBeat 1s linear;
    }
  }
}

@media (min-width: 768px) {
  .clients {
    padding: 82px 40px 94px;
  }
}

@media (min-width: 1200px) {
  .clients {
    padding: 82px 215px 94px;
  }
}