.details {
  padding-top: 94px;

  &__list {
    @include flex(flex, space-between, flex-start);
    gap: 30px;
  }

  &__item {
    &:nth-child(2) .details__title::before {
      background-image: url("../img/clock.png");
    }

    &:nth-child(3) .details__title::before {
      background-image: url("../img/diagram.png");
    }

    &:nth-child(4) .details__title::before {
      background-image: url("../img/astronaut.png");
    }
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: $text-main;

    &::before {
      content: "";
      display: inline-block;
      width: 250px;
      height: 120px;
      margin-bottom: 30px;
      border-radius: 4px;
      background-color: $team-bg;
      background-image: url("../img/Group.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70px 70px;
    }
  }

  &__text {
    line-height: 1.7;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.42px;
    color: $text-p;
  }
}
