.modal__input-wrap {
  @include position(relative);
  margin-bottom: 10px;
}

.modal__label {
  color: $text-p;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
  display: block;
}

.modal__input {
  padding-left: 40px;
  width: 100%;
}

.modal__icon {
  @include position(absolute);
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.btn {
  @extend %button-style;
  display: block;
  margin: 30px auto 40px;
  font-size: 14px;
  padding: 10px 32px;
  width: 100%;
  max-width: 200px;
}

.modal__input,
.modal__textarea {
  width: 100%;
  max-width: 448px;
  height: 40px;
  padding: 11px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
}

.modal__input:focus,
.modal__textarea:focus {
  border: 1px solid $btn-bg;
  outline: none;
}

.modal__input-wrap:focus-within .modal__icon {
  fill: $btn-bg;
}

.modal__textarea {
  height: 120px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  resize: vertical;
}

.modal__checkbox {
  color: $text-p;
  font-size: 12px;
  margin-bottom: 30px;
}

.modal__checkbox a {
  color: $btn-bg;
}

// Tablet and Desktop: larger input fields
@media (min-width: 1200px) {
  .modal__input,
  .modal__textarea {
    max-width: 448px;
  }

  .btn {
    max-width: none;
    font-size: 16px;
  }
}
