.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.form-input-text {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.form-input {
  padding-left: 40px;
}
.form-svg {
  position: absolute;
  left: 12px;
  transform: translateY(50%);
}

.btn {
  display: block;
  margin: 30px auto 40px;
}

.form-input,
.form-textarea {
  width: 448px;
  height: 40px;
  padding: 11px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-input:focus {
  border: 1px solid var(--btn-bg);
  outline: none;
}

.form-textarea:focus {
  border: 1px solid var(--btn-bg);
  outline: none;
}

.input-wrap:focus-within .form-svg {
  fill: var(--btn-bg);
}

.form-textarea {
  height: 120px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  color: var(--text-p);
}

.form-checkbox a {
  color: var(--btn-bg);
}
