.header {
  border-bottom: 1px solid #d9d9d9;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icons {
    width: 16px;
    height: 12px;
    fill: $text-p;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__menu {
    display: flex;
    gap: 50px;
  }

  &__contacts-list {
    display: flex;
    gap: 50px;
  }

  &__contacts {
    font-style: normal;
  }

  &__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.8px;
    color: $text-main;
    padding: 25px 0;
    text-decoration: none;
  }

  &__link {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    color: $text-main;
    transition: color 250ms ease;

    &:hover {
      color: $btn-bg;
    }

    &::after {
      content: "";
      width: 100%;
      height: 4px;
      bottom: -32px;
      left: 0;
      position: absolute;
      border-radius: 2px;
      background-color: $btn-bg;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 250ms ease;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  &__link--active {
    position: relative;
  }

  &__contact {
    display: inline-block;
    text-decoration: none;
    color: $text-p;
    transition: color 250ms ease;

    &:hover {
      color: $btn-bg;

      .header__icons {
        fill: $btn-bg;
      }
    }
  }
}