.team {
  background-color: $team-bg;
  padding: 60px 0;

  &__title {
    margin-bottom: 30px;
    @include section-title(28px, 0.84px);
  }

  &__list {
    @include flex(flex, center, center);
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 0 0 4px 4px;
    background: $text-footer;
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 1px rgba(0, 0, 0, 0.14),
      0 2px 1px rgba(0, 0, 0, 0.2);
  }

  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.48px;
    text-align: center;
    color: $text-main;
    margin-bottom: 10px;
  }

  &__role {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.48px;
    text-align: center;
    color: $text-p;
    padding-bottom: 24px;
  }

  &__icons {
    @include flex;
    gap: 10px;
    margin-top: 16px;
    margin-bottom: 24px;
    fill: $clients-item;
  }

  &__social {
    @extend %social-icon;
    @include transition;

    &:hover {
      background-color: $btn-bg;

      .team__icon {
        fill: $bg-header-text;
      }
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    @include transition;
  }

  @media screen and (min-width: 480px) {
    &__title {
      @include section-title(32px, 0.96px);
    }
  }

  @media screen and (min-width: 768px) {
    padding: 94px 0;

    &__title {
      margin-bottom: 50px;
      @include section-title;
    }

    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      flex-basis: calc(50% - 15px);
      max-width: calc(50% - 15px);
    }
  }

  @media screen and (min-width: 1200px) {
    &__list {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    &__item {
      width: 270px;
      max-width: 270px;
      height: 428px;
      flex-basis: auto;
    }

    &__img {
      width: 270px;
      height: 260px;
    }
  }
}
